table,
td,
th {
    border: 1px solid;
    border-collapse: collapse;
}

.center {
    text-align: center;
}
th:nth-child(odd) {
 background-color: #D6EEEE;   
}

th:nth-child(even) {
 background-color: #D6EEEE;   
}
.flex-parent {
    display: flex;
}
.jc-center {
    justify-content: center;
}
