.itemHead {
    border-top: 1px;
    border-left: 1px;
    border-style: solid;
}
.itemRow {
    border-left: 1px;
    border-style: solid;
}
.amountHead {
    border-top: 1px;
    border-right: 1px;
    border-style: solid;
    width: 6rem;
}
.amountRow {
    border-right: 1px;
    border-style: solid;
}
.bottom {
    border-bottom: 1px;
    border-style: solid;
}

.center {
    text-align: center;
}
th:nth-child(odd) {
 background-color: #D6EEEE;   
}

th:nth-child(even) {
 background-color: #D6EEEE;   
}
.flex-parent {
    display: flex;
}
.jc-center {
    justify-content: center;
}
.tableStyle {
    margin-left: auto; 
    margin-right: auto; 
    width: 10%;
}
.deleteEdit {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}
.centerAmount {
    text-align: center;
}
.values {
    display: block;
    text-align: center;
}
.visible {
    visibility: 100%;
}
.nvisible {
    visibility: 0%;
}

